<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.energy.chain.server.mapper.ChainAddressMapper">

    <select id="selectNeedRefresh" resultType="com.cs.energy.chain.api.entity.ChainAddress">
        select *
        from c_chain_address
        <where>
            and `chain` = #{chain}
            and type = #{type}
            and (
               (need_refresh = 1 and update_at <![CDATA[<]]> #{updateAt})
              or
               (need_refresh = 0 and update_at <![CDATA[<]]> #{expireAt})
            )
            and `status` = 1
        </where>
    </select>
</mapper>
