<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.energy.member.server.mapper.LoginMapper">

    <select id="countBinded" resultType="int">
        select ifnull(count(*),0) from u_login
        <where>
            and deleted > 0
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="type != null">
                and `type` = #{type}
            </if>
        </where>
    </select>
</mapper>
