<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.copy.asset.server.mapper.WithdrawDetailMapper">

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into a_withdraw_detail (flow_id,uid,address_id, amount, from_addr, to_addr, `status`,seq)
            values
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.flowId},
            #{item.uid},
            #{item.addressId},
            #{item.amount},
            #{item.fromAddr},
            #{item.toAddr},
            #{item.status},
            #{item.seq}
            )
        </foreach>
    </insert>
</mapper>
