<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.copy.asset.server.mapper.WithdrawFlowMapper">

    <select id="sumTotal" resultType="java.math.BigDecimal">
        select ifnull(sum(fee),0)
        from a_withdraw_flow
        where clear_day = #{ymd}
        and chain = 'bsc'
    </select>

    <update id="updateClear">
        update a_withdraw_flow
            set clear_day = #{ymd}
        where clear_day is null
          and ymd <![CDATA[<]]> #{ymd}
          and status = 1
          and symbol = 'USDT'
    </update>
</mapper>
