<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.energy.asset.server.mapper.AssetFlowMapper">

    <select id="countSummary" resultType="com.cs.energy.asset.api.dto.SummaryDTO">
        select ifnull(sum(balance),0) totalBalance,
                ifnull(sum(frozen),0) totalFrozen
        from a_asset_flow
        <where>
            and uid = #{uid}
            <if test="day != null">
                and `ymd` = #{day}
            </if>
            <if test="invalidAt != null">
                and create_at <![CDATA[>=]]> #{invalidAt}
            </if>
            and scene in
            <foreach collection="scenes" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
        </where>
    </select>

    <select id="groupIncome" resultType="com.cs.energy.asset.api.entity.AssetFlow">
        select uid,symbol,`ymd`,scene, ifnull(sum(balance),0) balance, ifnull(sum(frozen),0) frozen
        from a_asset_flow
            <where>
                <if test="symbol != null">
                    and symbol = #{symbol}
                </if>
                <if test="day != null">
                    and clear_day = #{day}
                </if>
                <if test="scenes != null and scenes.size() > 0">
                    and scene in
                    <foreach collection="scenes" item="item" open="(" close=")" separator="," >
                        #{item}
                    </foreach>
                </if>
            </where>
        group by uid,symbol,`ymd`,scene
    </select>

    <update id="updateClear">
        update a_asset_flow set clear_day = #{day}
        <where>
            <if test="symbol != null">
                and symbol = #{symbol}
            </if>
            and clear_day is null
            <if test="day != null">
                and `ymd` <![CDATA[<]]> #{day}
            </if>
            <if test="scenes != null and scenes.size() > 0">
                and scene in
                <foreach collection="scenes" item="item" open="(" close=")" separator="," >
                    #{item}
                </foreach>
            </if>
        </where>
    </update>

    <select id="countTeamSummary" resultType="com.cs.energy.asset.api.dto.SummaryTeamDTO">
        select  ifnull(sum(case ff.uid when #{uid} then ff.balance else 0 end), 0) myBalance,
                ifnull(sum(case ff.uid when #{uid} then ff.frozen else 0 end), 0) myFrozen,
                ifnull(sum(ff.balance),0) totalBalance,
                ifnull(sum(ff.frozen),0) totalFrozen
        from a_asset_flow ff
        <where>
            <if test="day != null">
                and ff.`ymd` = #{day}
            </if>
            <if test="invalidAt != null">
                and ff.create_at <![CDATA[>=]]> #{invalidAt}
            </if>
            and ff.scene in
            <foreach collection="scenes" item="item" open="(" close=")" separator="," >
                #{item}
            </foreach>
            and exists (
                WITH RECURSIVE CTE AS (
                select b.id,b.pid from u_member b where b.deleted = 0 and b.id = #{uid}
                union all
                select a.id,a.pid from u_member a inner join cte c on a.pid = c.id where a.deleted = 0
                )
                select 1 from CTE ct where ct.id = ff.uid
            )
        </where>
    </select>

    <select id="sumTotal" resultType="java.math.BigDecimal">
        select ifnull(sum(balance), 0)
        from a_asset_flow
        <where>
            <if test="type != null">
                and `type` = #{type}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="symbol != null">
                and symbol = #{symbol}
            </if>
            <if test="day != null">
                and `ymd` = #{day}
            </if>
            <if test="scenes != null and scenes.size() > 0">
                and scene in
                <foreach collection="scenes" item="item" open="(" close=")" separator="," >
                    #{item}
                </foreach>
            </if>
        </where>

    </select>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into a_asset_flow (type, uid, scene, symbol, ymd, balance, frozen, memo, create_at)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.type},
            #{item.uid},
            #{item.scene},
            #{item.symbol},
            #{item.ymd},
            #{item.balance},
            #{item.frozen},
            #{item.memo},
            #{item.createAt}
            )
        </foreach>
    </insert>

    <select id="groupSceneOf" resultType="com.cs.energy.asset.api.dto.SceneTotalDTO">
        SELECT symbol, scene, SUM(balance) amount
        FROM a_asset_flow
        WHERE ymd = #{yest}
          AND `TYPE` = 0
          and refunded = 0
        GROUP BY symbol, scene
    </select>
</mapper>
